@page "/projectsProfessional"
@using albanPortfolio.Components.Pages.Projects.Professional
@using MudBlazor
@using MudBlazor.Components
@using Microsoft.AspNetCore.Components

@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>
@* <PageTitle>Professional Projects</PageTitle> *@

<div class="pa-4">
    <MudTabs Elevation="2" Outlined="true" Position="Position.Top" Rounded="true" Border="false"
    ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6" Vertical="true">
    @foreach (var project in ProjectsData.Projects)
    {
        <MudTabPanel Text="@project.Title">
            <MudText Typo="Typo.h5" Class="mb-4">@project.Title</MudText>
            <MudText Class="mb-4">@((MarkupString)project.Description)</MudText>
            @foreach (var projectSection in project.Sections)
            {
                <MudText Typo="Typo.h6" Class="mt-6 mb-3">@projectSection.Title</MudText>
                <MudGrid>
                    @foreach (var bullet in projectSection.Bullets)
                    {
                        <MudItem xs="12">
                            <MudText Class="mb-1">• @bullet</MudText>
                        </MudItem>
                    }
                </MudGrid>
            }
        </MudTabPanel>
    }
    </MudTabs>
</div>